@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --main-bg-colour: rgb(2, 6, 24);
  --sec-bg-colour: rgb(30, 41, 57);
  --title-font: 'Outfit', Arial, sans-serif;
  --content-font: 'Roboto', Helvetica, sans-serif;
  --title-colour: rgb(255, 255, 255);
  --content-colour: rgb(144, 161, 185);
  --main-colour: rgb(0, 146, 184);
  --sec-colour: rgb(0, 150, 137);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  position: relative;
  font-family: var(--content-font);
  color: var(--content-colour);
}

.container {
  width: 100%;
  height: 100%;
  background-color: var(--main-bg-colour);
  display: flex;
  justify-content: center;
}

/* init app load */
.page-intro {
  height: 50%;
  width: 50%;
  margin: auto;
  padding: 2%;
  display: flex;
  flex-direction: column;
  gap: 4%;
  border-radius: 0.5rem;
  background-color: var(--sec-bg-colour);
}

.main-text,
.main-subctn {
  width: 100%;
  height: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-text {
  justify-content: center;
}

.main-subctn {
  gap: 10%;
}

.mn-title {
  font-family: var(--title-font);
  font-size: 8rem;

  background-image: linear-gradient(
    to right,
    var(--main-colour),
    var(--sec-colour)
  );
  background-repeat: repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.mn-desc {
  text-transform: capitalize;
}

#city-search {
  width: 90%;
  height: 25%;
  font-size: 150%;
  padding-left: 1%;
  border-radius: 0.6rem;
  border: 1px solid var(--sec-bg-colour);
}

.mn-btn-ctn {
  display: flex;
  gap: 15%;
}

.mn-btn-ctn button {
  width: 15rem;
  height: 4rem;
  font-size: 1rem;
  border-radius: 2rem;
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--title-font);
}

.mn-geoLoc {
  background: linear-gradient(to right, var(--main-colour), var(--sec-colour));
  color: var(--title-colour);
  border: 2px solid var(--main-colour);
}

.mn-searchLoc {
  background-color: var(--sec-bg-colour);
  border: 2px solid var(--sec-colour);
  color: var(--sec-colour);
}

.mn-geoLoc:hover {
  box-shadow: inset 0px 0px 24px var(--title-colour);
}

.mn-searchLoc:hover {
  box-shadow: inset 0px 0px 24px var(--sec-colour);
}

.mn-btn-ctn button:active {
  filter: brightness(80%);
}
