@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --main-bg-colour: rgb(2, 6, 24);
  --main-bg-colourT: rgba(2, 6, 24, 0.5);
  --sec-bg-colour: rgb(30, 41, 57);
  --sec-bg-colourT: rgba(30, 41, 57, 0.5);
  --title-font: 'Outfit', Arial, sans-serif;
  --content-font: 'Roboto', Helvetica, sans-serif;
  --title-colour: rgb(255, 255, 255);
  --content-colour: rgb(144, 161, 185);
  --main-colour: rgb(0, 146, 184);
  --sec-colour: rgb(0, 150, 137);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  position: relative;
  font-family: var(--content-font);
  color: var(--content-colour);
}

.container {
  width: 100%;
  height: 100%;
  background-color: var(--main-bg-colour);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

/* alert box */
.customAlert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--main-bg-colourT);
  backdrop-filter: blur(8px);
  justify-content: center;
  display: none;
  align-items: center;
  z-index: 9999;
}

.active {
  display: flex;
}

.alert-box {
  background: var(--sec-bg-colour);
  padding: 1.3rem;
  border-radius: 0.8rem;
  box-shadow: 0 4px 24px var(--main-bg-colour);
  text-align: center;
  max-width: 80%;
  width: 20%;
}

.alert-box p {
  font-size: 1.5rem;
  text-transform: capitalize;
  margin: 0 0 1.2rem;
}

.alert-box button {
  padding: 0.5rem 1rem;
  border: none;
  background: var(--main-colour);
  color: var(--title-colour);
  border-radius: 0.3rem;
  cursor: pointer;
}

.alert-box button:hover {
  background: var(--sec-colour);
}

/* init app load */
.page-intro {
  height: 50%;
  width: 50%;
  margin: auto;
  padding: 2%;
  display: flex;
  flex-direction: column;
  gap: 4%;
  border-radius: 0.5rem;
  background-color: var(--sec-bg-colour);
}

.main-text,
.main-subctn {
  width: 100%;
  height: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-text {
  justify-content: center;
}

.main-subctn {
  gap: 10%;
}

.mn-title {
  font-family: var(--title-font);
  font-size: 8rem;
  background-image: linear-gradient(
    to right,
    var(--main-colour),
    var(--sec-colour)
  );
  background-repeat: repeat;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.desc-p {
  text-transform: capitalize;
}

#city-search {
  width: 90%;
  height: 25%;
  font-size: 100%;
  padding-left: 1%;
  border-radius: 0.6rem;
  color: var(--title-colour);
  font-weight: 100;
  background-color: var(--main-bg-colourT);
  border: 3px solid var(--main-bg-colourT);
}

#city-search:focus {
  outline: none;
  border: 3px solid var(--main-colour);
  transition: 0.2s ease-in;
}

.mn-btn-ctn {
  width: 100%;
  justify-content: center;
  display: flex;
  gap: 5%;
}

.mn-btn-ctn button {
  width: 25%;
  height: 4rem;
  font-size: 1rem;
  border-radius: 2rem;
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--title-font);
}

.mn-geoLoc {
  background: linear-gradient(to right, var(--main-colour), var(--sec-colour));
  color: var(--title-colour);
  border: 2px solid var(--main-colour);
}

.mn-searchLoc {
  background-color: var(--sec-bg-colour);
  border: 2px solid var(--sec-colour);
  color: var(--sec-colour);
}

.mn-geoLoc:hover {
  box-shadow: inset 0px 0px 24px var(--sec-bg-colour);
}

.mn-searchLoc:hover {
  box-shadow: inset 0px 0px 24px var(--sec-colour);
}

button:active {
  filter: brightness(80%);
}

/* data view page */
/* header */
.header {
  height: 6%;
  width: 100%;
  padding: 0.5%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--sec-bg-colour);
}

.hd-logo {
  font-family: var(--title-font);
  background-image: linear-gradient(
    to right,
    var(--main-colour),
    var(--sec-colour)
  );
  background-repeat: repeat;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.hd-btnctn {
  height: 95%;
  width: 15%;
  display: flex;
  border-radius: 2rem;
  background-color: var(--sec-bg-colour);
  font-weight: 700;
}

.celsius,
.fahrenheit {
  width: 50%;
  display: flex;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
}

.active {
  background: linear-gradient(to right, var(--main-colour), var(--sec-colour));
  box-shadow: 0px 0px 24px var(--main-bg-colour);
  color: var(--title-colour);
}

/* display container */
/* all */
.dp-container {
  height: 94%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

/* summary */
.dp-summary {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  padding: 2%;
  background-repeat: no-repeat;
  background-size: cover;
}

.sum-locDate {
  justify-items: center;
  align-content: center;
}

.ld-loc {
  font-size: 210%;
  font-family: var(--title-font);
  color: var(--title-colour);
  text-align: center;
  padding: 1.5%;
}

.ld-date {
  color: var(--content-colour);
  text-align: center;
}

.sum-mainfo {
  display: grid;
  grid-template-rows: 3fr 2r 1fr;
  justify-items: center;
  align-content: center;
  gap: 5%;
}

.mf-icon {
  height: 12rem;
  width: 12rem;
  margin-bottom: 5%;
}

.mf-temp {
  font-size: 200%;
  color: var(--title-colour);
  font-family: var(--title-font);
}

.mf-cond {
  color: var(--content-colour);
  font-size: 130%;
}

.sum-subinfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 3%;
}

.si-feelslike,
.si-precprob {
  display: flex;
  gap: 5%;
  justify-content: center;
  align-items: center;
}

.ct-Title {
  font-size: 85%;
  text-transform: capitalize;
}

.ct-Detail {
  font-size: 95%;
  color: var(--title-colour);
  font-family: var(--title-font);
}

.sum-subinfo svg {
  height: 4rem;
  fill: var(--main-colour);
  background-color: var(--sec-bg-colour);
  border-radius: 100%;
}

/* breakdown */
.dp-breakdown {
  background-color: var(--sec-bg-colour);
  padding: 1%;
  display: grid;
  grid-template-rows: 0.5fr 5fr 4fr;
}

.bd-searchCtn {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.sc-searchBar {
  display: flex;
  height: 95%;
  width: 70%;
  border-radius: 0.6rem;
  padding: 0.5%;
  background-color: var(--main-bg-colour);
  border: 2px solid var(--main-bg-colour);
  transition: 0.2s ease-out;
}

.sc-searchBar:focus-within {
  border: 2px solid var(--main-colour);
  transition: 0.2s ease-in;
}

#sb-search {
  height: 100%;
  flex: 7;
  border-radius: 0.6rem;
  border: none;
  background-color: var(--main-bg-colour);
  outline: none;
  color: var(--title-colour);
  padding: 0 0 0 1%;
}

.sc-searchBar button {
  flex: 1;
  border-radius: 0.6rem;
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--title-font);
}

.sb-searchBtn {
  border: 2px solid var(--sec-colour);
  background-color: var(--main-bg-colour);
  color: var(--sec-colour);
}

.sb-geoBtn {
  border: 2px solid var(--sec-colour);
  background: linear-gradient(to right, var(--sec-colour), var(--main-colour));
  color: var(--title-colour);
  margin: 0 0 0 1%;
}

.sb-geoBtn:hover {
  box-shadow: inset 0px 0px 10px var(--main-bg-colour);
}

.sb-searchBtn:hover {
  box-shadow: inset 0px 0px 10px var(--sec-colour);
}

.bd-todaydetails {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, minmax(20%, 1fr));
  grid-template-rows: 10% 10% 1fr 1fr;
}

.df-title,
.td-title {
  color: var(--content-colour);
  text-transform: capitalize;
  align-self: end;
  font-family: var(--title-font);
}

.td-title {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
}

#td-in1 {
  display: block;
  padding: 1% 2%;
  grid-column: 1 / 5;
  grid-row: 2 / 3;
  justify-items: left;
  align-content: center;
}

.td-info {
  padding: 3%;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  justify-items: center;
  background-color: var(--main-bg-colourT);
  border-radius: 1rem;
}

.td-subDetail {
  color: var(--title-colour);
}

.bd-daysForecast {
  gap: 1rem;
  display: grid;
  grid-template-rows: 15% 1fr;
  grid-template-columns: repeat(7, 1fr);
}

.df-info {
  background-color: var(--main-bg-colourT);
  border-radius: 1rem;
}

.df-title {
  grid-column: 1 / 8;
  grid-row: 1 / 2;
}
